Source: gnome-window-applets
Section: gnome
Priority: extra
Maintainer: Filip Chabik <hadret@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               autotools-dev,
               intltool,
               libwnck-dev,
               libpanel-applet2-dev
Standards-Version: 3.9.1
Homepage: http://www.gnome-look.org/content/show.php?content=103732

Package: gnome-window-applets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: panel applets that substitute maximized window title and buttons
 *** Unofficial Debian package from HDPPA ***
 .
 GNOME violates Fitts's Law by putting a panel between the maxed window buttons
 and the corner of the screen. These applets were designed to solve the problem.
 Window Title and Window Buttons are essentially controls for windows that are
 placed on the Panel instead of a window. They also provide a clever way to
 increase vertical screen space. By default they only control maximized windows,
 but can be configured to control any focused window.
