#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --with-gconf-schema-file-dir=$${prefix}/usr/share/gconf/schemas

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	rm -rf $(CURDIR)/debian/gnome-window-applets/usr/doc

clean:
	dh $@
